# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/*
!dist/index.js
build/
.eggs/
*.egg
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env.local

# Node
node_modules/
package-lock.json

# Server
server/pid.txt
server/*.log
